body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPhQItUphIEvxRjZu12dbnHvEeDEv4ChQ2Vg&s');
}

h1 {
  font-size: 36px;
  padding: 20px;
  text-align: center;
}

img {
  width: 500px;
  height: auto;
}

button {
  font-size: 16px;
  padding: 5px;
  width: 150px;
  border-radius: 7px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: rgb(63, 63, 63);
  cursor: pointer;
}
